.input_style_of_text {
    width: auto;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.bot1 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    width: auto;
    margin: auto;
    font-size: 14px;
    text-align: center;
    height: auto;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    text-decoration: none;
}

.bot1:hover, .bot1:focus {
    border-color: rgba(54, 66, 116, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
    rgba(54, 66, 116, 0.9);
    outline: 0 none;
}

.bot3 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    width: auto;
    margin: auto;
    font-size: 14px;
    text-align: center;
    height: auto;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    text-decoration: none;
}

.bot3:hover, .bot3:focus {
    border-color: rgba(255, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
    rgba(250, 0, 0, 0.9);
    outline: 0 none;
}

.bot2 {
    background: linear-gradient(to bottom, #FFFFFF, #E6E6E6) #F5F5F5
    repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
    rgba(0, 0, 0, 0.05);
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    width: 120px;
    line-height: 20px;
    margin: 20px auto;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bot2:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35)
    0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.bot2:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.bot2:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

.table_report {
    background: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.th_report {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #364274;
    padding: 10px 8px;
}

.td_report {
    border-bottom: 1px solid #ccc;
    color: #364274;
    padding: 9px 8px;
    transition: .3s linear;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #364274;
    color: #fff;
    width: 100%;
}

.one {
    background: #fff;
    padding: 50px 20px;
    float:left;
}

.one h1 {
    font-family: 'Calibri Light', serif;
    position: relative;
    color: #364274;
    font-size: 50px;
    font-weight: normal;
    font-weight: bold;
    padding: 8px 20px 7px 20px;
    border-top: 4px solid;
    border-left: 4px solid;
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding: 8px 20px 7px 20px;
}

.one h1:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: -28px;
    left: -28px;
    border: 4px solid #364274;
    box-sizing: border-box;
}

@media ( max-width : 450px) {
    .one h1 {
        font-size: 36px;
    }
    .one h1:before {
        width: 20px;
        height: 20px;
        top: -20px;
        left: -20px;
    }
}

.form {
    position: absolute;
    top: 30%;
    left: 40%;
    margin: auto;
    z-index: 2;
    width: 300px;
    padding: 40px 20px;
    background: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

.form input {
    width: 96%;
    padding: 5px 2%;
    margin: 10px 0;
    border-radius: 4px;
}